html {
    background-color: black;
}

.title {
    margin: 50px;
    font-size: 1.75em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

#main-wrapper {
    margin: 48px;
}

canvas {
    margin: 2px;
    position: relative;
}