@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

.title {
    margin: 2vw;
    font-size: 2.5em;
    font-weight: 600;
}

#main-wrapper {
    margin-left: 1.5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    margin: 0.5vw;
    display: flex;
    flex-direction: column;
}

.shader-details {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
    margin-top: 0.5vw;
    font-size: 0.8em;
    font-family: "Hanken Grotesk", Helvetica, Arial, sans-serif;
}

.shader-label {
    font-weight: bold;
}

.shader-details a {
    color: black;
}

@media screen and (max-width: 560px) {
    .title {
        text-align: center;
        font-size: 1.5em;
    }

    #main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .canvas-container {
        margin-bottom: 2vh;
    }
}